.box {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f9fa;
    border:1px solid #dae1e6;
    width:350px; height:135px;
    padding:16px 16px 12px;
    margin:100px auto;
}
.box p {
    font-size: 0.75rem;
}
.box h1 {
    background-color: #19ce60;
    text-align: center;
    margin:16px 0 10px;
}
.box h1 a {
    color:#fff; 
    font-weight: 600;
    font-size:1.063rem;
    display: block;
    width:100%;
    padding:15px 0;
}
.box .bottom {}
.box .bottom a {
    float:left;
    font-size: 0.75rem;
    margin-right: 5px;
}
.box .bottom a:nth-child(1) {}
.box .bottom a:nth-child(2) {}
.box .bottom a:nth-child(3) {
    float:right; margin:0;
}