/* button */
body {
    background-color: #f5f6f7;
}
/* main */
section .container #login_form {
}
section .container #login_form fieldset {
    width:460px; margin: 0 auto;
}
section .container #login_form fieldset #user_id {
    background-color: #fff;
    border: 1px solid #ccc;
    width:460px; height:61px;
    padding: 20px 15px;
    margin-bottom: 10px;
}
section .container #login_form fieldset #user_pw { 
    background-color: #fff;
    border: 1px solid #ccc;
    height:61px;
    padding: 20px 15px;
    margin-bottom: 10px;
    width: 100%;
}
section .container #login_form fieldset .btn_login { 
    height:66px;
    background-color: #03c75a;
    margin: 0 auto;
    margin-bottom: 10px;
}
section .container #login_form fieldset .btn_login a {
    color: #fff;
    display: block; padding:25px 0;
    width:100%; 
}
section .container #login_form fieldset .txt {
    height:45px; margin: 0 auto;
    border-bottom: 1px solid #ccc;
    display: flex; justify-content: space-between;
}
section .container #login_form fieldset .txt .contents_left {}
section .container #login_form fieldset .txt .contents_left #chk {appearance: none;}
section .container #login_form fieldset .txt .contents_left #chk + label::before {
    content:'\f058'; color: #ccc;
}
section .container #login_form fieldset .txt .contents_left #chk:checked + label::before {
    color:#03c75a; 
}
section .container #login_form fieldset .txt .contents_left #chk + label {font-weight:normal;}
section .container #login_form fieldset .txt .contents_right {
    float:right;
}
section .container #login_form fieldset .txt .contents_right a {}
section .container #login_form fieldset .txt .contents_right a:nth-child(1) {
    margin-right: 5px;
}
section .container #login_form fieldset .txt .contents_right a:nth-child(2) {text-decoration:underline;}
section .container #login_form fieldset .txt .contents_right a em {
    color:#03c75a; font-weight: 500;
}
section .container .find {
    margin-top:20px;
}
section .container .find a {
    margin-right: 10px; 
    border-right:1px solid #aaa;
    padding-right: 10px;
}
section .container .find a:nth-child(1) {}
section .container .find a:nth-child(2) {}
section .container .find a:nth-child(3) {border: 0; margin-right: 0;}