html,body,* {box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,
p,em,strong,a,span,sub,sup,del,q,blockquote,code,
ul,ol,li,dl,dt,dd,
table,tr,td,th,thead,tbody,tfoot,
form,fieldset,legend,input,select,option,button,label,textarea,
header,main,footer,nav,section,article,figure,figcaption,aside,
address,details,mark,time,video,img,summary,div {
    margin:0; padding:0;
    /* font-size:1.0rem == 100% == 16px */
    /* 웹사이트 글자크기가 16px일경우 reset에서 이미 초기값 설정을 했으므로 추가 설정할 필요가 없다. */
    font-size:1.0rem; font-style:normal; font-weight:normal;
    line-height:1.2; 
    /* 웹사이트 본문 80~90% 이상 동일한 글자색은 reset에서 처리한다! */
    color:#000;
    text-decoration:none;
    font-family: 'Noto Sans KR', sans-serif;
}
ul,ol,li {list-style:none;}
button {cursor:pointer; background: 0; border: 0;}
table,tr,td,th {border-collapse:collapse;}
fieldset {border: 0;}
input, select, option {background: none; border:0;}
/* html에서 의미적으로 존재하나 css디자인상에선 숨겨야하는 요소 */
.skip {display:none;}
/* font-awesome unicode 전용 클래스 */
.fa {font-family:'Font Awesome 5 Free', 'Font Awesome 5 Brands'; font-weight:600;}